.fondo-blanco {
    background-color: white;
}

.h1{
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
    color: rgba(27, 77, 176, 1);
}

.h3 {
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    color: rgba(27, 77, 176, 1);
}

.h4 {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    color: #3C7DEC;
}

.hr {
    border-top: 1px solid rgba(27, 77, 176, 1);
    width:25%;
}

.hr2 {
    border-top: 1px solid rgba(27, 77, 176, 1);
    width:85%;
}

.hr3 {
    border-top: 1px solid rgba(27, 77, 176, 1);
    width:85%;
}

.marca-uno {
    background-color: #3C7DEC !important;
    color: white;
    margin-bottom: 0;
    font-size: 1.6rem;
    letter-spacing: 0.20rem;
    border-radius: 0;
    position: absolute;
    top: 0;
    font-weight: 600;
    height: 10px;
}

.search {
    border: 0;
    border-bottom: 1px solid rgba(27, 77, 176, 1);
    background-color: rgba(27, 77, 176, 0.1) !important;
    text-align: center;
    width: 70%;
}

.table {
    color:rgba(27, 77, 176, 1);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #3C7DEC;
    opacity: 0.8;
    color: white;
 }

 td button {
     color: #3C7DEC;
     padding: 0;
 }

 .table-striped > tbody > tr:nth-child(2n+1) > td > button, .table-striped > tbody > tr:nth-child(2n+1) > th {
    color: white;
 }