<app-navigation></app-navigation>

<div @fade class="container-fluid fondo">
        <div class="row ">
            
            <div class="col-4 col-md-2 offset-1 my-auto d-none d-lg-block">
                <div class="">
                    <p class="resumen text-center">01/12/2020 - 07/12/2020</p>
                </div>
            </div>
            <div class="col pt-5 text-center d-none d-lg-block">
                <h1 class="h1 pb-4 pb-sm-4 pt-3">RESUMEN VIAJE</h1>
                <hr class="hr">
            </div>
            <div class="col-4 col-md-2 my-auto d-none d-lg-block">
                <div class="ml-auto ">
                    <p class="resumen text-center">2 personas</p>
                </div>
            </div>
            <div class="col-md-1"></div>
    </div>
    <div class="row d-lg-none">
            
        <div class="col-12 pt-5 text-center">
            <h1 class="h1 pb-4 pb-sm-4 pt-3">RESUMEN VIAJE</h1>
            <hr class="hr">
        </div>

        <div class="col-12 my-auto pt-3">
            <div class="">
                <p class="resumen text-center">01/12/2020 - 07/12/2020</p>
            </div>
        </div>

        <div class="col-12 my-auto pt-3">
            <div class="ml-auto ">
                <p class="resumen text-center">2 personas</p>
            </div>
        </div>
        <div class="col-md-1"></div>
</div>
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 h pt-5 mb-4 mt-5">
            <div class="row">
                <div class="col-6 col-xl">
                <div class="container">
                  
                    <img src="../../../assets/StationPhoto/sierra-nevada.jpg" alt="Snow" class="img-fluid">
                    <div class="centered">SIERRA NEVADA</div>
                </div>
                <div class="col-12 ">
                    <p class="estacion text-center">ESTACIÓN</p>
                </div>
            </div>
            <div class="col-6 col-xl">
                <div class="container">
                  
                    <img src="../../../assets/HotelPhoto/BaqueiraBeret/bb1.jpg" alt="Snow" class="img-fluid">
                    <div class="centered">HOTEL VAL DE NEU</div>
                </div>
                <div class="col-12">
                    <p class="estacion text-center">HOTEL</p>
                </div>
            </div>
            <div class="col-6 col-xl">
                <div class="container">
                  
                    <img src="../../../assets/ClassesPhoto/BB4.PNG" alt="Snow" class="img-fluid img">
                    <div class="centered">ESCUELA DE SKI BAQUEIRA</div>
                </div>
                <div class="col-12">
                    <p class="estacion text-center">CLASES</p>
                </div>
            </div>
            <div class="col-6 col-xl">
                <div class="container">
                  
                    <img src="../../../assets/MaterialPhoto/david-becker-F7SBonu15d8-unsplash.jpg" alt="Snow" class="img-fluid">
                    <div class="centered">SKISET</div>
                </div>
                <div class="col-12">
                    <p class="estacion text-center">ALQUILER</p>
                </div>
            </div>
            <div class="col-6 col-xl">
                <div class="container">
                  
                    <img src="../../../assets/CarPhoto/SN7.png" alt="Snow" class="img-fluid">
                    <div class="centered">CARTRAWLER</div>
                </div>
                <div class="col-12">
                    <p class="estacion text-center">VEHÍCULO</p>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                <hr class="hr2">
                <h3 class="h3 text-center">ESTACIÓN Y SERVICIOS ESCOGIDOS</h3>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-5 offset-md-1 h mb-5 mt-5">
            <div class="row">
                <div class="col-12">
                    <h3 class="h3 pt-4 pb-3 pl-5">RESUMEN</h3>
                    <hr class="hr3">
                </div>
                <div class="col-6 pt-3 pb-3">
                    <h5 class="text-left h5 pl-4">CONCEPTO</h5>
                </div>
                <div class="col-6 pt-3 pb-3">
                    <h5 class="text-right h5 pr-4">PRECIO</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="concepto text-left pl-5">Hotel</p>
                </div>
                <div class="col-6">
                    <p class="concepto text-right pr-5">300 €</p>
                </div>
                <div class="col-6">
                    <p class="concepto text-left pl-5">Clases</p>
                </div>
                <div class="col-6">
                    <p class="concepto text-right pr-5">150 €</p>
                </div>
                <div class="col-6">
                    <p class="concepto text-left pl-5">Clases Ski</p>
                </div>
                <div class="col-6">
                    <p class="concepto text-right pr-5">200 €</p>
                </div>
                <div class="col-6">
                    <p class="concepto text-left pl-5">Vehículo</p>
                </div>
                <div class="col-6">
                    <p class="concepto text-right pr-5">200 €</p>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-6 pt-3 ">
                    <h5 class="text-left h4 pl-4">TOTAL</h5>
                </div>
                <div class="col-6 pt-3 ">
                    <h5 class="text-right h4 pr-4">850 €</h5>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-5 mb-5 pl-5 pt-5 pb-5 my-auto">
            <div class="row h" >
                <div class="col-12 pt-5 pb-3 pl-5 pr-5">
                    <p >Cancelación gratuita durante 48 horas tras hacer la reserva, siempre y cuando se haga al menos 14 días antes de la llegada (la hora viene indicada en el correo electrónico de confirmación).</p>
                    <p>Pasado este plazo, los huéspedes pueden cancelar hasta 7 días antes de la llegada y recibir un reembolso del 50 % del precio por noche y los gastos de limpieza, pero no se reembolsará la tarifa de servicio.</p>
                    <hr class="hr3 mt-5">
                    <h3 class="h3 pt-2 pb-3">CONDICIONES DE CANCELACIÓN</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center mb-5">
            <button>FINALIZAR VIAJE</button>
        </div>
    </div>
</div>