.fondo{
    height: auto;
    background: linear-gradient(to right bottom,rgba(255,255,255, 0.6),rgba(255,255,255, 0.7) ),url('../../../assets/Fondos/usermanagement.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fondo-blanco {
    background-color: white;
}

.h1{
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
    color: rgba(27, 77, 176, 1);
}

.h3 {
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    color: rgba(27, 77, 176, 1);
}

.h5 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #3C7DEC;
}

.hr {
    border-top: 1px solid rgba(27, 77, 176, 1);
    width:32%;
}

.hr2 {
    border-top: 1px solid rgba(27, 77, 176, 1);
    width:90%;
}

.hr3 {
    border-top: 1px solid rgba(27, 77, 176, 1);
    width:92%;
}

.p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color:rgba(27, 77, 176, 1);
}

.p-vpendiente {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
}

.p-direccion {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
}

.visa {
    width: 15%;
}

.comentarios {
    background-color: rgba(27, 77, 176, 1) !important;
    color: white;
    margin-bottom: 0;
    font-size: 1.1rem;
    letter-spacing: 0.13rem;
    border-radius: 0;
}

.viaje {
    background-color: rgba(27, 77, 176, 1) !important;
    color: white;
    margin-bottom: 0;
    font-size: 1.1rem;
    letter-spacing: 0.13rem;
    border-radius: 0;
    position: absolute;
    bottom: 0;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.container img {
    opacity: 0.6;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    letter-spacing: 0.17rem;
    color: white;
    text-shadow: 1px 0 0 rgba(27, 77, 176, 1),
    -1px 0 0 rgba(27, 77, 176, 1),
    0 1px 0 rgba(27, 77, 176, 1), 
    0 -1px 0 rgba(27, 77, 176, 1),
    1px 1px rgba(27, 77, 176, 1),
    -1px -1px 0 rgba(27, 77, 176, 1),
    1px -1px 0 rgba(27, 77, 176, 1),
    -1px 1px 0 rgba(27, 77, 176, 1);
    
}

.input {
    color: rgba(27, 77, 176, 1);
    text-align: center;
    padding: 10px;
    width: 60%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(27, 77, 176, 1);
    background-color: rgba(27, 77, 176, 0.1);
    transition: 0.2s;
  }
  
  .input:focus,.input:active {
    border-bottom: 2px solid rgba(27, 77, 176, 1);
    background-color: rgba(27, 77, 176, 0.1);
    box-shadow: none;
    outline: 0;
  }

.input:disabled {
    background-color: rgba(27, 77, 176, 0.199);
    color: rgba(27, 77, 176, 1);
    font-weight: bold;
    cursor: not-allowed;
}
.modify-input {
    background-color: white;
    border: 1px solid rgba(27, 77, 176, 1);
    color:  rgba(27, 77, 176, 1);
    font-size: 1.1rem;
    letter-spacing: 0.13rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s;
}

.modify-input:hover {
    background-color: rgba(27, 77, 176, 1);
    border:0;
    color:  white;
    font-size: 1.1rem;
    letter-spacing: 0.13rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.modify-input:focus,.modify-input:active {
    background-color: rgba(27, 77, 176, 1);
    border:0;
    color:  white;
    font-size: 1.1rem;
    letter-spacing: 0.13rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.modify-input:disabled {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: not-allowed;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.13rem;
}

.h5-submit {
    color: rgba(27, 77, 176, 1);
    font-size: 1.1rem;
    letter-spacing: 0.13rem;
}

.h5-error {
    color: #dc3545;;
    font-size: 1.1rem;
    letter-spacing: 0.13rem;
}
