<app-navigation></app-navigation>

<div @fade class="container-fluid fondo">
    <div class="row" id="hola">
        <div class="col pt-5 text-center mb-5">
            <h1 class="h1 pb-4 pb-sm-4 pt-3"> {{ 'MANAGEMENTUSER.TITLE' | translate }}</h1>
            <hr class="hr">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-5 col-xl-5  mb-4  ml-lg-4 ml-xl-5">
            <div class="row pt-4 fondo-blanco">
                <div class="col-6 pb-3 text-center">
                    <img src="./assets/UserManagement/visa.png" alt="" class="img-fluid visa">
                    <p class="d-inline pl-2"> VISA {{ 'MANAGEMENTUSER.CREDITCARDTWO' | translate }} 1432</p>
                </div>
                <div class="col-6 my-auto pb-3 text-center">
                    <h4 class="h4 d-inline">{{ 'MANAGEMENTUSER.CREDITCARDONE' | translate }}: </h4>
                    <p class="d-inline pl-2"> 07/2022</p>
                </div>
                <div class="col-6 pb-3 text-center">
                    <img src="./assets/UserManagement/visa.png" alt="" class="img-fluid visa">
                    <p class="d-inline pl-2"> VISA {{ 'MANAGEMENTUSER.CREDITCARDTWO' | translate }} 7322</p>
                </div>
                <div class="col-6 my-auto pb-3 text-center">
                    <h4 class="h4 d-inline">{{ 'MANAGEMENTUSER.CREDITCARDONE' | translate }}: </h4>
                    <p class="d-inline pl-2"> 11/2025</p>
                </div>
                <div class="col-12">
                    <hr class="hr2">
                    <h3 class="h3 pl-4 pb-4">{{ 'MANAGEMENTUSER.CREDITCARDTITLE' | translate }}</h3>
                </div>
            </div>

            <div class="row fondo-blanco mt-5"> 
                <div class="col-12 pt-4">
                    <h3 class="h3 pl-4">{{ 'MANAGEMENTUSER.COMMENT' | translate }}</h3>
                    <hr class="hr2">
                </div>
                <div class="col-12">
                    <h4 class="h4 pl-4 pt-3 pb-3">{{ 'MANAGEMENTUSER.COMMENTONE' | translate }}</h4>
                </div>
                <div class="col-12 text-justify pl-5 pr-5 pb-3">
                    <p class="p">{{ 'MANAGEMENTUSER.COMMENTTWO' | translate }}</p>
                    <p class="p">{{ 'MANAGEMENTUSER.COMMENTTHREE' | translate }}</p>
                </div>
                <button (click) = getComments() class="btn comentarios col-12" data-toggle="modal" data-target="#sierra-nevada">{{ 'MANAGEMENTUSER.COMMENTBUTTON' | translate }}</button>
            </div>

        </div>

        <div class="col-12 col-lg-6 fondo-blanco  mt-lg-0 ml-lg-5 mt-4 mb-4">
            <div class="row">
                <button href="#" class="btn comentarios col-12 " data-toggle="modal" data-target="#sierra-nevada" (click) = "enableModify()">{{ 'MANAGEMENTUSER.DATABUTTON' | translate }}</button>
                
                
                <div class="col-12">
               
                <form [formGroup]="userForm" *ngIf="user" class="">
                    
                    <div class="row pb-2">
                        <div class="col-12 col-md-8">
                            <h4 class="h4 pl-4 pt-4 pb-4">{{ 'MANAGEMENTUSER.DATA' | translate }}</h4>
                            
                        </div>
                        <div class="col-12 col-md-4  text-center pt-3 my-auto pb-3">
                            <button mat-raised-button
                                color="primary"
                                id="btnCreateStation"
                                (click) = "onSubmit()"
                                [disabled] = "!modifyEnabled">
                                {{ 'MANAGEMENTUSER.DATABUTTONONE' | translate }}
                            </button>
                            
                        </div>

                    <label class="col-12 col-md-4 text-center">{{ 'MANAGEMENTUSER.DATANAME' | translate }}:</label>
                        <div class="col-12 col-md-8 form-group">
                            <input
                            class="form-control mx-auto input"
                            formControlName="firstName"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}"
                            />
                            <div *ngIf="submitted && f.firstName.errors " class="invalid-feedback text-center">
                                <div *ngIf="f.firstName.errors.required">El nombre es Obligatorio</div>
                            </div>
                    </div>
                    
                </div>
                      <div
                        class=" row pb-2"
                      >
                        <label class="col-12 col-md-4 text-center">{{ 'MANAGEMENTUSER.DATALASTNAME' | translate }}:</label>
                        <div class="col-12 col-md-8 form-group">
                        <input
                          class="form-control mx-auto input"
                          formControlName="lastName"
                          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}"
                        />
                        <div *ngIf="submitted && f.lastName.errors " class="invalid-feedback text-center">
                            <div *ngIf="f.lastName.errors.required">Los Apellidos son Obligatorios</div>
                        </div>
                    </div>

                    </div>
              
                      <div
                        class="row pb-2"
                      >
                        <label class="col-12 col-md-4 text-center">{{ 'MANAGEMENTUSER.DATAADDRESS' | translate }}:</label>
                        <div class="col-12 col-md-8 form-group ">
                        <input
                        type="text"
                          class="form-control mx-auto input"
                          placeholder=""
                          formControlName="address"
                          [ngClass]="{ 'is-invalid': submitted && f.address.errors}"
                        />
                        <div *ngIf="submitted && f.address.errors " class="invalid-feedback text-center">
                            <div *ngIf="f.address.errors.required">La dirección es Obligatoria</div>
                        </div>
                    </div>
                      </div>
                      <div
                        class=" row pb-2"
                      >
                        <label class="col-12 col-md-4 text-center">{{ 'MANAGEMENTUSER.DATAPHONE' | translate }}:</label>
                        <div class="col-12 col-md-8 form-group">
                        <input
                        type="text"
                          class="form-control mx-auto input"
                          placeholder=""
                          formControlName="phone"
                          [ngClass]="{ 'is-invalid': submitted && f.phone.errors}"
                        />
                        <div *ngIf="submitted && f.phone.errors  " class="invalid-feedback text-center">
                            <div *ngIf="f.phone.errors.required">El Teléfono es obligatorio</div>
                        </div>
                        <div *ngIf="submitted && f.phone.errors " class="invalid-feedback text-center">
                            <div *ngIf="f.phone.errors.minlength">El Teléfono debe tener 9 caracteres</div>
                        </div>
                    </div>
                      </div>

                      <div
                        class=" row pb-2"
                      >
                        <label class="col-12 col-md-4 text-center">{{ 'MANAGEMENTUSER.DATAEMAIL' | translate }}:</label>
                        <div class="col-12 col-md-8 form-group">
                        <input
                        type="text"
                          class="form-control mx-auto input"
                          placeholder=""
                          formControlName="email"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors}"
                        />
                        <div *ngIf="submitted && f.email.errors  " class="invalid-feedback text-center">
                            <div *ngIf="f.email.errors.required">El email es Obligatorio</div>
                        </div>
                        <div *ngIf="submitted && f.email.errors  " class="invalid-feedback text-center">
                            <div *ngIf="f.email.errors.email">El email no es válido</div>
                        </div>
                    </div>
                      </div>
              
                      <div
                        class=" row pb-2"
                      >
                        <label class="col-12 col-md-4 text-center">{{ 'MANAGEMENTUSER.DATAUSERNAME' | translate }}:</label>
                        <div class="col-12 col-md-8 form-group">
                        <input
                        type="text"
                          class="form-control mx-auto input"
                          placeholder=""
                          formControlName="userName"
                          [ngClass]="{ 'is-invalid': submitted && f.userName.errors}"
                        />
                        <div *ngIf="submitted && f.userName.errors " class="invalid-feedback text-center">
                            <div *ngIf="f.userName.errors.required">El nombre de usuario es Obligatorio</div>
                        </div>
                    </div>
                      </div>
          
                        <div
                            class="row pb-2"
                        >
                            <label class="col-12 col-md-4 text-center">{{ 'MANAGEMENTUSER.DATAPASSWORD' | translate }}:</label>
                            <div class="col-12 col-md-8 form-group ">
                            <input
                            type="text"
                            class="form-control mx-auto text-center input"
                            placeholder=""
                            formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors}"
                            />
                            <div *ngIf="submitted && f.password.errors " class="invalid-feedback text-center">
                                <div *ngIf="f.password.errors.required">La contraseña es Obligatoria</div>
                            </div>
                            <div *ngIf="submitted && f.password.errors " class="invalid-feedback text-center">
                                <div *ngIf="f.password.errors.minlength">La contraseña debe tener al menos 5 caracteres</div>
                            </div>
                        </div>
                      </div>
                      
              
                   
                  </form>
                
                </div>
                <div class="col-12">
                <hr class="hr3">
            </div>
                <div class="col-12 ">
                    
                    <h3 class="h3 pl-4 pb-4 pt-3">{{ 'MANAGEMENTUSER.DATAONE' | translate }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-12 col-md-6 col-lg-5 offset-lg-1 ml-md-4 ml-lg-4 ml-xl-5 mt-4 ">
            <div class="row fondo-blanco">
                <div class="col-12 pb-2">
                    <h3 class="h3 pl-4 pt-4">{{ 'MANAGEMENTUSER.TRIPSPENDING' | translate }}</h3>
                    <hr class="hr2">
                </div>
                <div class="col-12">
                    <div class="row pt-4" *ngIf="trips && trips.length == 0">
                        <div class="col-12">
                        <p class=" h4 text-center">{{ 'MANAGEMENTUSER.TRIPSPENDINGFOUR' | translate }}</p>
                    </div>
                    </div>
                    <div class="row text-center" *ngIf="trips && trips.length > 0">
                        <h4 class="h4 col pl-4 pt-3 pb-3">{{ 'MANAGEMENTUSER.TRIPSPENDINGONE' | translate }}</h4>
                        <h4 class="h4 col pl-4 pt-3 pb-3">{{ 'MANAGEMENTUSER.TRIPSPENDINGTWO' | translate }}</h4>
                        <h4 class="h4 col pl-4 pt-3 pb-3">{{ 'MANAGEMENTUSER.TRIPSPENDINGTHREE' | translate }}</h4>
                    </div>
                </div>

                <div *ngIf="trips && stationsTrip.length == trips.length" class="col-12">
                    <div class="row text-center " *ngFor="let trip of trips;let i = index" >
                        <h4 class="p-direccion col pl-4 pt-3 pb-3">{{trip.entryDate}}</h4>
                        <h4 class="p-direccion col pl-4 pt-3 pb-3">{{stationsTrip[i].name}}</h4>
                        <h4 class="p-direccion col pl-4 pt-3 pb-3">{{stationsTrip[i].country}}</h4>
                    </div>
                </div>
                
                <button routerLink="/Station" class="btn comentarios mt-4 w-100 mb-0 " data-toggle="modal" data-target="#sierra-nevada">{{ 'MANAGEMENTUSER.TRIPSPENDINGBUTTON' | translate }}</button>
            
            </div>
        </div>

        <div class="col-12 col-md-5 ml-md-4 ml-lg-0 col-lg-6  mt-4 ml-md-4 ml-lg-5" #content>
            <div class="row fondo-blanco">
                <button (click)="downloadPDF()" class="btn comentarios col-12" [disabled] = "beforeThisYearStatioTrips.length == 0 && pastStationTrips.length == 0">{{ 'MANAGEMENTUSER.TRIPSDONEBUTTON' | translate }}</button>
                <div class="col-12">
                <div class="row" id="contentDos">
                <div class="col-12">
                    <h4 class="h4 pt-4"> {{ 'MANAGEMENTUSER.TRIPSDONE' | translate }}</h4>
                </div>
                <div class="col-12" *ngIf="pastTrips && pastTrips.length == 0">
                    <p class="p text-center pt-3">{{ 'MANAGEMENTUSER.TRIPSDONEONE' | translate }}</p>
                </div> 
                <div class="col-12 col-sm-4 col-md-12 col-lg-6 col-xl-4  pt-4 pb-4" *ngFor="let pastStation of pastStationTrips">
                <div class="container" >
                    
                    <img src="{{pastStation.urlImages}}" alt="Snow" class="img-fluid img">
                    <div class="centered">{{ pastStation.name.toUpperCase()}}</div>

                </div>
            </div>
            
            <div class="col-12">
                <h4 class="h4 pt-4"> {{ 'MANAGEMENTUSER.TRIPSDONETWO' | translate }}</h4>
            </div>
            <div class="col-12" *ngIf="beforeThisYearTrips && beforeThisYearTrips.length == 0">
                <p class="p text-center pt-3">{{ 'MANAGEMENTUSER.TRIPSDONETHREE' | translate }}</p>
            </div>
            <div class="col-12 col-sm-4 col-md-12 col-lg-6 col-xl-4 pt-4 pb-4" *ngFor="let pastStation of beforeThisYearStatioTrips">
                <div class="container" >
                    
                    <img src="{{pastStation.urlImages}}" alt="Snow" class="img-fluid img">
                    <div class="centered">{{ pastStation.name.toUpperCase()}}</div>

                </div>
            </div>
            
                <div class="col-12">
                    <hr class="hr2">
                    <h3 class="h3 pl-4">{{ 'MANAGEMENTUSER.TRIPSDONETITLE' | translate }}</h3>
                    
                </div>

            </div>
            </div>
        </div>
        </div>
    </div>
</div>


<div  class="modal fade" role="dialog" aria-labelledby="exampleModalCenterTitle" >
    <div id="contentTres" role="document" class="row " >
        
        <div class="col-12" >
            <div class="row" *ngIf="pastTripsComplete && thisYearTripsComplete">
                <div class="col-12">
                    
            <h1 class="h1-pdf text-center">SnowyDune</h1>
            <hr class="hr">
        </div>
        <div class="col-12" *ngIf="pastTripsComplete">
            <h1 class="h2-pdf text-center pt-4">Viajes Realizados en 2019</h1>

        </div>
            <div class="col-12" *ngFor="let trip of pastTripsComplete; let i=index">
                <div class="row">
                    <div class="col-4">
                    <h3 class="h3-pdf pt-4">Viaje {{i+1}}</h3>
                    </div>
                    <div class="col-8 text-center">
                        <h3 class="h3-pdf pt-4">Fecha Inicio {{trip.entryDate}}</h3>
                    </div>
                    <div class="col-12">
                    <h4 class="h4-pdf pt-4"><strong>Personas {{trip.totalPersons}} | Número de días {{ trip.totalDays }}</strong></h4>
                    <h4 class="pt-4 p-pdf"><strong>Estación:</strong> {{ trip.station.name }} ({{trip.station.location}}, {{trip.station.country}})</h4>
                </div>
                <div class="col-6" *ngIf="trip.hotel">
                    <h4 class="pt-3 p-pdf"><strong>Hotel:</strong> {{ trip.hotel.name }}</h4>
                </div>
                <div class="col-6" *ngIf="trip.hotel">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio:</strong> {{ trip.hotel.priceDay * trip.totalPersons * trip.totalDays }} €</h4>
                </div>
                <div class="col-6" *ngIf="trip.classes">
                    <h4 class="pt-3 p-pdf"><strong>Clases:</strong> {{ trip.classes.name }}</h4>
                </div>
                <div class="col-6" *ngIf="trip.classes">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio:</strong> {{ trip.classes.priceHour * trip.totalPersons * trip.totalDays }} €</h4>
                </div>
                <div class="col-6" *ngIf="trip.skiMaterial">
                    <h4 class="pt-3 p-pdf"><strong>Material:</strong> {{ trip.skiMaterial.name }}</h4>
                </div>
                <div class="col-6" *ngIf="trip.skiMaterial">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio:</strong> {{ trip.skiMaterial.priceDay * trip.totalPersons * trip.totalDays }} €</h4>
                </div>
                <div class="col-6" *ngIf="trip.carRental">
                    <h4 class="pt-3 p-pdf"><strong>Vehículo:</strong> {{ trip.carRental.name }} </h4>
                </div>
                <div class="col-6" *ngIf="trip.carRental">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio:</strong> {{ trip.carRental.price * trip.totalPersons * trip.totalDays }} €</h4>
                </div>
                <div class="col-6">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio Total</strong> </h4>
                </div>
                <div class="col-6">
                    <h4 class="pt-3 p-pdf text-center"><strong>{{(trip.carRental?.price * trip.totalPersons * trip.totalDays) + (trip.skiMaterial?.priceDay * trip.totalPersons * trip.totalDays) 
                        + (trip.classes?.priceHour * trip.totalPersons * trip.totalDays) + (trip.hotel?.priceDay * trip.totalPersons * trip.totalDays)}} €</strong> </h4>
                </div>
                </div>
            </div>
            <div class="col-12" *ngIf="thisYearTripsComplete">
                <h1 class="h2-pdf text-center pt-5">Viajes Realizados en 2020</h1>
    
            </div>
            <div class="col-12" *ngFor="let trip of thisYearTripsComplete; let i=index">
                <div class="row">
                    <div class="col-4">
                    <h3 class="h3-pdf pt-4">Viaje {{i+1}}</h3>
                    </div>
                    <div class="col-8 text-center">
                        <h3 class="h3-pdf pt-4">Fecha Inicio {{trip.entryDate}}</h3>
                    </div>
                    <div class="col-12">
                    <h4 class="h4-pdf pt-4"><strong>Personas {{trip.totalPersons}} | Número de días {{ trip.totalDays }}</strong></h4>
                    <h4 class="pt-4 p-pdf"><strong>Estación:</strong> {{ trip.station.name }} ({{trip.station.location}}, {{trip.station.country}})</h4>
                </div>
                <div class="col-6" *ngIf="trip.hotel">
                    <h4 class="pt-3 p-pdf"><strong>Hotel:</strong> {{ trip.hotel.name }}</h4>
                </div>
                <div class="col-6" *ngIf="trip.hotel">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio:</strong> {{ trip.hotel.priceDay * trip.totalPersons * trip.totalDays }} €</h4>
                </div>
                <div class="col-6" *ngIf="trip.classes">
                    <h4 class="pt-3 p-pdf"><strong>Clases:</strong> {{ trip.classes.name }}</h4>
                </div>
                <div class="col-6" *ngIf="trip.classes">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio:</strong> {{ trip.classes.priceHour * trip.totalPersons * trip.totalDays }} €</h4>
                </div>
                <div class="col-6" *ngIf="trip.skiMaterial">
                    <h4 class="pt-3 p-pdf"><strong>Material:</strong> {{ trip.skiMaterial.name }}</h4>
                </div>
                <div class="col-6" *ngIf="trip.skiMaterial">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio:</strong> {{ trip.skiMaterial.priceDay * trip.totalPersons * trip.totalDays }} €</h4>
                </div>
                <div class="col-6" *ngIf="trip.carRental">
                    <h4 class="pt-3 p-pdf"><strong>Vehículo:</strong> {{ trip.carRental.name }} </h4>
                </div>
                <div class="col-6" *ngIf="trip.carRental">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio:</strong> {{ trip.carRental.price * trip.totalPersons * trip.totalDays }} €</h4>
                </div>
                <div class="col-6">
                    <h4 class="pt-3 p-pdf text-center"><strong>Precio Total</strong> </h4>
                </div>
                <div class="col-6">
                    <h4 class="pt-3 p-pdf text-center"><strong>{{(trip.carRental?.price * trip.totalPersons * trip.totalDays) + (trip.skiMaterial?.priceDay * trip.totalPersons * trip.totalDays) 
                        + (trip.classes?.priceHour * trip.totalPersons * trip.totalDays) + (trip.hotel?.priceDay * trip.totalPersons * trip.totalDays)}} €</strong> </h4>
                </div>
                </div>
            </div>
            </div>
        </div>

       
    
    </div>

    
  </div>

