.fondo{
    height: auto;
    background: linear-gradient(to right bottom,rgba(255,255,255, 0.6),rgba(255,255,255, 0.7) ),url('../../../assets/Fondos/contact.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fondo-blanco {
    background-color: white;
}

input #file-upload-button {
    background: #3C7DEC !important;
  
  }
  
  input[type="file"] {
    display: none;
   
  }

.custom-file-upload {
    border: 1px solid  rgba(27, 77, 176, 1);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.h1{
    font-size: 2.2rem;
    letter-spacing: 0.4rem;
    color: rgba(27, 77, 176, 1);
}

.h2 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #3C7DEC
}

.h3 {
    font-size: 1.8rem;
    letter-spacing: 0.27rem;
    color: rgba(27, 77, 176, 1)
}

.h4 {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    color: #3C7DEC
}

.p {
    font-size: 1.1rem;
    letter-spacing: 0.20rem;
    color: rgba(27, 77, 176, 1)
}

.hr {
    border-top: 1px solid rgba(27, 77, 176, 1);
    width:30%;
}

.hr2 {
    border-top: 1px solid rgba(27, 77, 176, 1);
    width:85%;
}

label {
    font-size: 1.1rem;
    letter-spacing: 0.20rem;
    color: rgba(27, 77, 176, 1)
}

input {
    color: rgba(27, 77, 176, 1);
    text-align: center;
    padding: 10px;
    width: 80%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(27, 77, 176, 1);
    background-color: rgba(27, 77, 176, 0.1);
    
  }
  
  input:focus,input:active {
    border-bottom: 2px solid rgba(27, 77, 176, 1);
    background-color: rgba(27, 77, 176, 0.1);
    box-shadow: none;
    outline: 0;
  }

  textarea {
    color: rgba(27, 77, 176, 1);
    text-align: center;
    padding: 10px;
    width: 80%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(27, 77, 176, 1);
    background-color: rgba(27, 77, 176, 0.1);
  }

  textarea:focus,textarea:active {
    border-bottom: 2px solid rgba(27, 77, 176, 1);
    background-color: rgba(27, 77, 176, 0.1);
    box-shadow: none;
    outline: 0;
  }

.input-comment {
    border: 0;
    border-bottom: 1px solid rgba(27, 77, 176, 1);
    width: 75%;
}

.input-comment::placeholder {
    color: #3C7DEC;
    opacity: 0.5;
}

.input-comment:focus {
    outline: none !important;
    border: 0;
    border-bottom: 2px solid rgba(27, 77, 176, 1);
}

.enviar {
    background-color: rgba(27, 77, 176, 1);
    color: white;
    border-radius: 0;
    font-size: 1.2rem;
    letter-spacing: 0.20rem;
}

.enviar:hover{
    background-color: white;
    color: rgba(27, 77, 176, 1);
    border: 1px solid rgba(27, 77, 176, 1);
}

.marca-uno {
    background-color: #3C7DEC !important;
    color: white;
    margin-bottom: 0;
    font-size: 1.6rem;
    letter-spacing: 0.20rem;
    border-radius: 0;
    position: absolute;
    top: 0;
    font-weight: 600;
    height: 10px;
}

.marca-dos {
    background-color: #3C7DEC !important;
    color: white;
    margin-bottom: 0;
    font-size: 1.6rem;
    letter-spacing: 0.20rem;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    height: 10px;
}

#input{
    display: none;
}

#label{
    color: #3C7DEC;
    opacity: 0.5;
    border-bottom: 1px solid rgba(27, 77, 176, 1);
}

#btnContact {
    background-color: rgba(27, 77, 176, 1);
    font-size: 1rem;
    letter-spacing: 0.20rem;
    font-weight: 600;
    transition: 0.2s;
}

#btnContact:hover {
    opacity: 0.8;
}
@media screen and (min-width: 991px) and (max-width: 1198px) {
    
    
}

@media screen and (min-width: 768px) and (max-width: 990px) {
   
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .h1{
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
        color: rgba(27, 77, 176, 1);
    }
    
    .h2 {
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        color: #3C7DEC
    }
    
    .h3 {
        font-size: 1.1rem;
        letter-spacing: 0.27rem;
        color: rgba(27, 77, 176, 1)
    }
    
    .h4 {
        font-size: 1.2rem;
        letter-spacing: 0.27rem;
        color: #3C7DEC
    }
}

@media screen and (max-width: 575px) {
   
    .h1{
        font-size: 1.5rem;

    }
    
    .h2 {
        font-size: 1.3rem;

    }
    
    .h3 {
        font-size: 1.1rem;

    }
    
    .h4 {
        font-size: 1.2rem;

    }

    .p {
        font-size: 0.9rem;
    }

    .enviar {

        font-size: 0.9rem;
    }
    
}