<app-navigation></app-navigation>

<div class="container-fluid fondo">
  <div class="row">
    <div class="col-12 pt-5 text-center">
      <h1 class="h1 pb-4 pb-sm-4">BIENVENIDO, NOMUSER</h1>
      <hr class="hr" />
    </div>
  </div>

  <div class="row pt-5 pb-4">
    <div class="col-5 offset-1 fondo-blanco">
      <div class="row">
        <div class="col-12">
          <h3 class="h3 pl-4 pb-4 pt-4">REGISTRA TU EMPRESA</h3>
          <hr class="hr2" />
        </div>

        <div class="col-12">
            <h1 class="h4 pb-4 pb-sm-4 pt-3 pl-5">¿No has registro aún tu empresa?¿Tienes algún servicio adicional? Registralo aquí</h1>
        </div>

        
      </div>
    </div>

    <div class="col-5 fondo-blanco ml-4">
        <hr class="hr2" />
        <h3 class="h3 pl-4 pb-4 pt-4">SERVICIOS REGISTRADOS</h3>


          
    </div>
  </div>
  
  <div class="row pb-5">
    <div class="col-6 offset-3 fondo-blanco">
        <div class="row pl-3">
            <div class="col-12">
                <h3 class="h3 pl-4 pb-4 pt-4">COMENTARIOS RECIBIDOS</h3>
                <hr class="hr2"/>
            </div>

            <div class="col-3 text-center">
              <h4 class="h4">Usuario</h4>
            </div>
            <div class="col-4 text-center">
              <h4 class="h4">Fecha Realización</h4>
            </div>
            <div class="col-5 text-center pt-2">
              <h4 class="h4">Comentario</h4>
            </div>

            <div class="col-3 text-center pt-2">
              <h4 class="p">Manolito</h4>
            </div>
            <div class="col-4 text-center pt-2">
              <h4 class="p">07/07/2017</h4>
            </div>
            <div class="col-5 text-center pt-2">
              <h4 class="p">Pedazo tula tiene el tio</h4>
            </div>
            
            <div class="col-12">
              <nav aria-label="empresas" class="">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#"><</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">></a></li>
                </ul>
              </nav>
          </div>
        </div>
    </div>

  </div>
</div>
