<app-navigation></app-navigation>

<ng-template @fade #loggedOut>
  <div class="container-fluid fondo">
    <div class="row">
      <div class="col-12 pt-5 text-center">
        <h1 class="h1 pb-4 pb-sm-4">NO HAS INICIADO SESIÓN</h1>
        <button class="btn" routerLink="/Login">Volver a Login</button>
      </div>
    </div>
  </div>
</ng-template>

<div @fade class="container-fluid fondo">
  <div class="row pb-5" *ngIf="isLogged; else loggedOut">
    <div class="col-12 pt-5 text-center">
      <h1 class="h1 pb-4 pb-sm-4">
        {{ "HOME.TITLE" | translate }}, {{ username }}
      </h1>
      <hr class="hr" />
    </div>

    <div
      class="col-12 col-xl mt-4 mt-xl-5 ml-xl-3 mr-xl-3 mb-5 mb-md-0 fondo-blanco"
    >
      <div class="row">
        <p class="marca-dos w-100 text-center pb-1"></p>
        <div class="col-12">
          <h1 class="h1 pt-3 pt-sm-4 text-center pb-3">
            {{ "HOME.TRIPONE" | translate }}
          </h1>
          <hr class="mt-2 mb-4 hr2 d-none d-sm-block" />
          <p class="h3 pb-3 pb-sm-4 text-center">
            {{ "HOME.TRIPTWO" | translate }}
          </p>
        </div>
        <div class="col-12">
          <p
            class="parrafo text-justify text-center ml-2 mr-2 ml-sm-5 mr-sm-5 mb-sm-4"
          >
            {{ "HOME.TRIPTHREE" | translate }}
          </p>
          <p
            class="parrafo text-justify text-center ml-2 mr-2 ml-sm-5 mr-sm-5 mb-sm-4"
          >
            {{ "HOME.TRIPFOUR" | translate }}
          </p>
          <p
            class="parrafo text-justify text-center ml-2 mr-2 ml-sm-5 mr-sm-5 mb-sm-4"
          >
            {{ "HOME.TRIPFIVE" | translate }}
          </p>
        </div>
        <div class="col-12 text-center pb-5">
          <button
            mat-raised-button
            color="primary"
            class="example-delete-tab-button"
            routerLink="/Station"
          >
            {{ "HOME.TRIPBUTTON" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-xl offset-xl-1 mt-md-5 mr-xl-3 ml-xl-3 mb-5 mb-md-0"
      id="tutorial"
    >
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <p class="parrafo-dos pb-4">{{ "HOME.TUTORIAL" | translate }}</p>
          <button mat-raised-button color="primary" (click)="tutorial()">
            {{ "HOME.TUTORIALBUTTON" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl offset-xl-1 mt-md-5 fondo-blanco mr-xl-3 ml-xl-3">
      <div class="row">
        <p class="marca-uno w-100 text-center pb-1"></p>
        <div class="col-12">
          <p class="h3 pb-3 text-center pt-5">
            {{ "HOME.SERVICE" | translate }}
          </p>
        </div>
        <p
          class="parrafo text-justify text-center ml-2 mr-2 ml-sm-5 mr-sm-5 mb-sm-4"
        >
          {{ "HOME.SERVICEONE" | translate }}
        </p>
        <p
          class="parrafo text-justify text-center ml-2 mr-2 ml-sm-5 mr-sm-5 mb-sm-4"
        >
          {{ "HOME.SERVICETWO" | translate }}
        </p>
        <p
          class="parrafo text-justify text-center ml-2 mr-2 ml-sm-5 mr-sm-5 mb-sm-4"
        >
          {{ "HOME.SERVICETHREE" | translate }}
        </p>
        <hr class="mt-2 mb-4 hr2" />
        <h1 class="h1 pt-3 text-center pb-3">
          {{ "HOME.SERVICEFOUR" | translate }}
        </h1>
      </div>
    </div>
  </div>

  <div class="row pb-5" *ngIf="isLogged; else loggedOut">
    <div class="col-12 col-md-6 mx-md-auto" id="business">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <p class="parrafo-dos pb-4">{{ "HOME.ENTERPRISE" | translate }}</p>
          <p class="parrafo-dos pb-4">{{ "HOME.ENTERPRISEONE" | translate }}</p>
          <p class="parrafo-dos pb-4">{{ "HOME.ENTERPRISETWO" | translate }}</p>
          <button
            mat-raised-button
            color="primary"
            class="example-delete-tab-button"
            (click)="accessEnterprise()"
          >
            {{ "HOME.ENTERPRISEBUTTON" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
