<app-navigation></app-navigation>

<div @fade class="text-center" *ngIf="isLogged; else loggedOut">
  <div class="container-fluid fondo">
    <div class="row pb-5">
      <div class="col-12 pt-5 text-center mt-4">
        <h3 class="h3-blue pb-2">YA TE ENCUENTRAS LOGUEADO</h3>
        <hr class="hr" />
      </div>

      <div
        class="col-12 col-md-10 col-xl-4 offset-md-1 offset-xl-3 fondo-blanco mt-5 mb-5"
      >
        <p class="marca-uno w-100 text-center pb-1"></p>
        <div class="row w-100">
          <div class="col-12 text-center">
            <h5 class="h5 pt-4 pb-4">
              ¿Quieres acceder al Login o al registro?
            </h5>

            <p class="p pb-2">
              Si quieres acceder al menú de Login primero prueba a cerrar la
              sesión que mantienes abierta
            </p>
            <p class="p pb-2">
              Puedes hacerlo en el icono para ello situado en la parte superior
              derecha
            </p>
            <p class="p pb-3">O puedes salir pulsando este botón</p>

            <div class="col-12 text-center pb-3">
              <button mat-raised-button (click)="onLogOut()">
                Cerrar Sesión
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="d-none d-xl-block col-xl-2 fondo-azul mt-5 mb-5 align-items-center"
      >
        <div class="row h-100">
          <div class="col my-auto">
            <img
              src="./assets/Navbar/snowyDune2.png"
              alt="Snow"
              class="img-fluid"
              id="snowydunelogo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div @fade class="container-fluid fondo">
    <div class="row">
      <div class="col-12 col-sm-6"></div>

      <div class="col-12 col-md-6 h mt-5 mt-md-0 mb-5 mb-md-0">
        <div class="row">
          <div class="col-12 pt-5 pb-5 text-center">
            <h1 class="h1 text-center">SnowyDune</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 pb-4">
            <h1 class="h3 text-center pb-4">Reestablecer Contraseña</h1>
            <hr class="hr" />
          </div>
        </div>

        <form [formGroup]="userForm" class="">
          <div class="row text-center" *ngIf="!isUserValid">
            <div class="col-12 pb-2">
              <p class="p">
                ¿Has perdido tu contraseña? Indica tu nombre de usuario y tu
                correo.
              </p>
            </div>
            <div class="col-12 pb-4">
              <label class="pb-2">Nombre de Usuario</label><br />
              <input
                type="text"
                class="form-control mx-auto"
                formControlName="username"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />

              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">
                  El nombre de usuario es Obligatorio
                </div>
              </div>
            </div>

            <div class="col-12 pb-5">
              <label class="pb-2">Email</label><br />
              <input
                type="email"
                class="form-control mx-auto"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />

              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">
                  El Email es Obligatorio
                </div>
                <div *ngIf="f.email.errors.email">El Email debe ser válido</div>
              </div>
            </div>

            <div class="col-12 pb-4 form-group">
              <button mat-raised-button class="button" (click)="verifyUser()">
                Cambiar Contraseña
              </button>
            </div>

            <div class="col-12 pb-4">
              <button mat-raised-button class="button" routerLink="/Login">
                Volver
              </button>
            </div>

            <div class="col-12 pb-5">
              <a routerLink="/Register" class="registro"
                >¿No estás registrado? Entra aquí</a
              >
            </div>
          </div>
        </form>
        <form [formGroup]="passwordForm" class="">
          <div class="row text-center" *ngIf="isUserValid">
            <div class="col-12 pb-2">
              <p class="p">Indica la nueva contraseña</p>
            </div>
            <div class="col-12 pb-2 form-group">
              <label class="pb-2">Contraseña Nueva</label><br />
              <input
                type="password"
                class="form-control mx-auto"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': submittedPassword && fu.password.errors
                }"
              />

              <div
                *ngIf="submittedPassword && fu.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="fu.password.errors.required">
                  La contraseña es Obligatoria
                </div>
              </div>
            </div>
            <div class="col-12 pb-4 form-group">
              <label class="pb-2">Confirmación Contraseña Nueva</label><br />
              <input
                type="password"
                class="form-control mx-auto"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid': submittedPassword && fu.confirmPassword.errors
                }"
              />

              <div
                *ngIf="submittedPassword && fu.confirmPassword.errors"
                class="invalid-feedback"
              >
                <div *ngIf="fu.confirmPassword.errors.mustMatch">
                  Las contraseñas no coinciden
                </div>
              </div>
            </div>
            <div class="col-12 pb-4 form-group">
              <button
                mat-raised-button
                class="button"
                (click)="updateUserPassword()"
              >
                Establecer Contraseña
              </button>
            </div>

            <div class="col-12 pb-5">
              <a routerLink="/Register" class="registro"
                >¿No estás registrado? Entra aquí</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
