

<h1 mat-dialog-title class="text-center h3">Comentarios Activos</h1>
<div
  mat-dialog-content
  *ngIf="stations.length == 0 && hotel.length == 0 && carRental.length == 0 && classes.length == 0 && skiMaterial.length == 0"
>
  <div class="col-12 text-center">

    <p class="parrafo"> No existe comentarios que puedas realizar, para poder hacerlos, tienes que realizar un viaje.</p>

    <p class="parrafo"> Una vez realizado el viaje podrás realizar comentarios a partir de un mes desde su inicio.</p>

  </div>

</div>
<div
  mat-dialog-content
  *ngIf="stations.length > 0 && (hotel.length > 0 || carRental.length > 0 || classes.length > 0 || skiMaterial.length > 0)"
>
  <div class="col-12">
    <p class="text-center mensaje">{{ mensaje }}</p>
  </div>

  <div class="row">
    <div class="col-3 text-center align-items-center my-auto">
      <p class="h3">Estaciones</p>
    </div>
    <div class="col-9">
      <div class="row" *ngFor="let station of stations">
        <div class="col-4 my-auto">
          <p class="text-center h4  ">{{ station.name }}</p>
        </div>
        <form [formGroup]="stationForm" class="col-8">
          <div class="row">
            <div class="col-6 pb-2 my-auto">
              <input type="text" 
              formControlName="comment"
              class="form-control input"
              [ngClass]="{ 'is-invalid': !stationForm.controls['comment'].valid && stationForm.controls['comment'].touched}" />
            </div>
            <div class="col-6 text-center my-auto">
              <input type="submit" value="Mandar Comentario" class = "submit" (click) = "createComment(station.id, 1)"/>

              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr class="hr">
  <div class="row">
    <div class="col-3 text-center align-items-center my-auto">
      <p class="h3">Hoteles</p>
    </div>
    <div class="col-9">
      <div class="row" *ngFor="let hotel of hotel">
        <div class="col-4 my-auto my-auto">
          <p class="text-center h4  ">{{ hotel.name }}</p>
        </div>
        <form [formGroup]="hotelForm" class="col-8">
          <div class="row">
            <div class="col-6 pb-2">
              <input type="text"
              class="form-control input"
              formControlName="comment"
               />
            </div>
            <div class="col-6 text-center my-auto">
              <input type="submit" value="Mandar Comentario" class = "submit" (click) = "createComment(hotel.id, 2)"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr class="hr">
  <div class="row">
    <div class="col-3 text-center align-items-center my-auto">
      <p class="h3">Alquiler de Vehículos</p>
    </div>
    <div class="col-9">
      <div class="row" *ngFor="let carRental of carRental">
        <div class="col-4 my-auto">
          <p class="text-center h4 ">{{ carRental.name }}</p>
        </div>
        <form class="col-8" [formGroup]="carRentalForm">
          <div class="row">
            <div class="col-6 pb-2 my-auto">
              <input type="text"
              class="form-control input"
              formControlName="comment"
               />
            </div>
            <div class="col-6 text-center my-auto">
              <input type="submit" value="Mandar Comentario"  class = "submit" (click) = "createComment(carRental.id, 3)"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr class="hr">
  <div class="row">
    <div class="col-3 text-center align-items-center my-auto">
      <p class="h3">Clases</p>
    </div>
    <div class="col-9">
      <div class="row" *ngFor="let class of classes">
        <div class="col-4 my-auto">
          <p class="text-center h4">{{ class.name }}</p>
        </div>
        <form class="col-8" [formGroup]="classesForm">
          <div class="row">
            <div class="col-6 pb-2 my-auto">
              <input type="text"
              class="form-control input"
              formControlName="comment"
                />
            </div>
            <div class="col-6 text-center  my-auto">
              <input type="submit" value="Mandar Comentario" class = "submit" (click) = "createComment(class.id, 4)"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr class="hr">
  <div class="row">
    <div class="col-3 text-center align-items-center my-auto">
      <p class="h3">Alquiler de Material</p>
    </div>
    <div class="col-9">
      <div class="row" *ngFor="let skiMaterial of skiMaterial">
        <div class="col-4 my-auto">
          <p class="text-center h4 ">{{ skiMaterial.name }}</p>
        </div>
        <form class="col-8" [formGroup]="skiMaterialForm">
          <div class="row">
            <div class="col-6 pb-2 ">
              <input type="text"
              class="form-control input "
              formControlName="comment" />
            </div>
            <div class="col-6  text-center my-auto">

              <input type="submit" value="Mandar Comentario" class = "submit" (click) = "createComment(skiMaterial.id, 5)" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <div class="col-12 text-center">
    <button mat-button (click)="cerrarDialogo()" class="cancel">Cerrar</button>
  </div>
</div>
