<app-navigation></app-navigation>

<div class="container-fluid fondo">
    <div class="row mb-5">
      <div class="col-12 pt-5 text-center">
        <h1 class="h1 pb-4 pb-sm-4">ADMINISTRACIÓN DE SERVICIOS Y COMENTARIOS</h1>
        <hr class="hr" />
        <button class="btn btn-return">VOLVER</button>
      </div>
    </div>

    <div class="row pb-5">
        <div class="col-12 col-md-10 col-xl-5 offset-md-1 offset-xl-1 fondo-blanco text-center">
            <div class="row">
              <p class="marca-uno w-100 text-center pb-1"></p>
                <div class="col-12">
                    <h3 class="h3 pl-4 pb-3 pt-4 pl-5">GESTOR DE SERVICIOS</h3>
                    <hr class="hr2" />
                </div>
                <div class="col-10 col-sm-12 pl-sm-5 pr-sm-5 pt-4 pb-4 table-responsive mx-auto">
                    <table class="table table-striped text-center">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Localización</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Ver Detalle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="#info-servicio">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">8</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col-12 ">
                    <nav aria-label="empresas" class="">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="page-link" href="#"><</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">></a></li>
                        </ul>
                      </nav>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-10 col-xl-5 offset-md-1 fondo-blanco ml-xl-5 mt-5 mt-xl-0 text-center">
            <div class="row">
              <p class="marca-uno w-100 text-center pb-1"></p>
                <div class="col-12">
                    <h3 class="h3 pl-4 pb-3 pt-4 pl-5">GESTOR DE COMENTARIOS</h3>
                    <hr class="hr2" />
                </div>
                <div class="col-10 col-sm-12 pl-sm-5 pr-sm-5 pt-4 pb-4 table-responsive mx-auto">
                    <table class="table table-striped text-center">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre de Usuario</th>
                            <th scope="col">Email</th>
                            <th scope="col">Servicio</th>
                            <th scope="col">Nombre Servicio</th>
                            <th scope="col">Ver Detalle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="#info-comentario">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                          <tr>
                            <th scope="row">8</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col-12 ">
                    <nav aria-label="empresas" class="">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="page-link" href="#"><</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">></a></li>
                        </ul>
                      </nav>
                </div>
            </div>

        </div>

    </div>




</div>


<div class="modal fade " id="info-servicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            
       
                <div class="col-11">
                    <h3 class="h3 pl-4 pb-1 pt-4 pl-5">Servicio tipoServicio - nomServicio</h3>
                    <hr class="hr3" />
                    <h4 class="h4 pl-4 pb-1 pt-4 pl-5">Modificación de Datos y Borrado de Servicios</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>

            
        </div>
        <div class="modal-body">
          <div class="row ">
            <div class="col-4 text-center pt-3 pb-4 ">
                <label for="email"  class="d-block">Nombre Servicio</label>
                <input type="text" placeholder="Email..." name="email" class="input pt-2">
            </div>
            <div class="col-4 text-center pt-3 pb-4">
                <label for="email"  class="d-block">Email</label>
                <input type="text" placeholder="Email..." name="email" class="input pt-2">
            </div>
            <div class="col-4 text-center pt-3 pb-4">
                <label for="email"  class="d-block">Localización</label>
                <input type="text" placeholder="Email..." name="email" class="input pt-2">
            </div>
            <div class="col-4 text-center pt-3 pb-4 my-auto">
                <label for="email"  class="d-block">Teléfono</label>
                <input type="text" placeholder="Email..." name="email" class="input pt-2">
            </div>
            <div class="col-4 text-center pt-3 pb-4 my-auto">
                <label for="email"  class="d-block">Precio/dia</label>
                <input type="text" placeholder="Email..." name="email" class="input pt-2">
            </div>

            <div class="col-4 text-center pt-3 pb-4">
                <label for="imagen"  class="d-block">Imagen Subida</label>
                <img src="../../../assets/ClassesPhoto/BB4.PNG" alt="" srcset="" class="img-fluid">
            </div>

            <div class="col-12 text-center pt-3 pb-4">
                <label for="comentario"  class="d-block pt-2 ">Comentario</label>
                <textarea placeholder="Comentario..." rows="4" cols="50" name="comentario" class="input-comment"></textarea>
            </div>
        
            <div class="col-12">

            <hr class="hr3" />
            </div>
            <div class="col-4 text-center pt-3 pb-3">
              <button class="btn btn-admin-user pl-3 pr-3">Activar/Desactivar</button>
          </div>
            <div class="col-4 text-center pt-3 pb-3">
                <button class="btn btn-admin-user pl-3 pr-3">Modificar</button>
            </div>
            <div class="col-4 text-center pt-3 pb-3">
                <button class="btn btn-admin-user pl-3 pr-3">Borrar</button>
           
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade " id="info-comentario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            
       
                <div class="col-11">
                    <h3 class="h3 pl-4 pb-1 pt-4 pl-5">Comentario Servicio - Nom. Usuario</h3>
                    <hr class="hr3" />
                    <h4 class="h4 pl-4 pb-1 pt-4 pl-5">Modificación de Datos y Borrado de Comentarios</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>

            
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6 text-center pt-3 pb-4">
                <label for="email"  class="d-block">Nombre</label>
                <input type="text" placeholder="Nombre..." name="email" class="input pt-2">
            </div>
            <div class="col-6 text-center pt-3 pb-4">
                <label for="email"  class="d-block">Email</label>
                <input type="text" placeholder="Email..." name="email" class="input pt-2">
            </div>
            <div class="col-12 text-center pt-3 pb-4">
                <label for="comentario"  class="d-block pt-2 ">Comentario</label>
                <textarea placeholder="Comentario..." rows="4" cols="50" name="comentario" class="input-comment"></textarea>
            </div>
            <div class="col-12">

                <hr class="hr3" />

            </div>
            
            <div class="col-6 text-center pt-3 pb-3">
                <button class="btn btn-admin-user pl-3 pr-3">Modificar</button>
            </div>
            <div class="col-6 text-center pt-3 pb-3">
                <button class="btn btn-admin-user pl-3 pr-3">Borrar</button>
           
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>