<app-navigation></app-navigation>

<div @fade class="container-fluid fondo">
    <div class="row">
      <div class="col-12 pt-5 text-center ">
        <h1 class="h1 pb-4 pb-sm-4">ADMINISTRACIÓN</h1>
        <hr class="hr" />
      </div>
    </div>

    <div class="row pb-5 pt-5 pb-4 pr-lg-4 pl-lg-4 mx-xl-auto">
      <div class="col col-lg-12 col-xl mb-4 mb-lg-0 ml-md-4 mr-md-4 mr-lg-0 ml-lg-0 ml-xl-4 fondo-blanco">
        <div class="row align-items-center">
          <div class="col-12 ">
            <h3 class="h3 pb-3 pt-5 text-center">BIENVENIDO ADMINISTRADOR</h3>
            <hr class="hr2" />
          </div>

          <div class="col-12">
            <h4 class="h4 pb-3 pt-4 pl-3">Desde este panel puedes acceder a las opciones de aceptación/modificación y borrado tanto de usuarios como servicios y empresas</h4>
            <h4 class="h4 pb-3 pt-4 pl-3">¡Además puedes añadir nuevas estaciones que no existan ya!</h4>
          </div>

          <div class="col-12">
            <p class="p pb-3 pt-4 pl-3">¡Recuerda revisar el correo! Las consultas/sugerencias que realizan nuestros usuarios se envían a un correo de administrador para su posterior tratado.</p>
          </div>
        </div>
      </div>
      <div class="col col-lg-5 col-xl mb-4 mb-lg-0 mr-md-4 ml-md-4 mr-lg-0 ml-lg-0 ml-xl-5  fondo-blanco">
        <div class="row">
          <div class="col-12">
            <h4 class="h4 pl-3 pr-2 pt-4 pb-4 text-center"> Si quieres acceder a usuarios, empresas o crear una nueva estación puedes acceder desde aquí</h4>
          </div>

          <div class="col-12">
            <div class="container">
              <a routerLink="/UsersEnterprisesAdmin"><img src="../../../assets/HomeAdmin/Usuarios.jpg" alt="Snow" class="img-fluid"></a>
              <a routerLink="/UsersEnterprisesAdmin"><div class="centered">PULSA PARA ACCEDER</div></a>
          </div>
          </div>

          <div class="col-12 pt-4 ">
            <hr class="hr2" />
            <h3 class="h3 pl-4 pb-3 pt-4 pl-2 text-center">GESTIÓN DE USUARIOS,EMPRESAS Y CREACIÓN DE ESTACIONES</h3>
          </div>

        </div>
      </div>
      <div class="col-md-10 col-lg-5 col-xl offset-md-1 offset-xl-0 fondo-blanco ml-xl-5 text-center">
        <div class="row">
          <div class="col-12">
            <h4 class="h4 pl-3 pt-4 pb-4"> Si quieres acceder a servicios o comentarios puedes acceder desde aquí</h4>
          </div>

          <div class="col-12">
            <div class="container">
              <a routerLink="/ServicesCommentsAdmin"><img src="../../../assets/HomeAdmin/Servicios.jpg" alt="Snow" class="img-fluid"></a>
              <a routerLink="/ServicesCommentsAdmin"><div class="centered">PULSA PARA ACCEDER</div></a>
          </div>
          </div>
          <div class="col-12 pt-4">
            <hr class="hr2" />
            <h3 class="h3 pb-4 pt-4 pl-2">GESTIÓN DE SERVICIOS Y COMENTARIOS</h3>
            
          </div>
        </div>
      </div>
      
      <div class="col-1 d-none d-sm-block d-xl-none"></div>
    </div>
</div>





