<!-- Footer -->
<footer class="page-footer font-small blue pt-3">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <div class="col text-center">

            <h1 class="h1">I D I O M A</h1>

        </div>
    </div>

    <div class="row">
  
        <div class="col text-center idioma">

            <h5 class="d-inline mr-3">ESP</h5>
            <mat-slide-toggle class="mr-3"></mat-slide-toggle>
            <h5 class="d-inline ">ENG</h5>

        </div>
    </div>

    <div class="row pb-3 pt-3">
        <div class="col-12 col-md text-center idioma my-auto d-md-none">

            
            <h5 class="d-inline mr-2">CONTACTA CON NOSOTROS</h5>
            

        </div>
  
        <div class="col-12 col-md idioma pt-4 pt-md-none">
            <div class="row justify-content-center">
            <h5 class="d-inline mr-2">NOS PUEDES ENCONTRAR</h5>
            </div>
            <div class="row justify-content-center pt-2">
                <img src="../../../assets/Footer/instagram.png" alt="" class="iconos img-fluid pr-4">
                <img src="../../../assets/Footer/twitter.png" alt="" class="iconos img-fluid pr-4">
                <img src="../../../assets/Footer/facebook.png" alt="" class="iconos img-fluid pr-4">
                <img src="../../../assets/Footer/apple.png" alt="" class="iconos img-fluid pr-4">
                <img src="../../../assets/Footer/android.png" alt="" class="iconos img-fluid">
        </div>
        
        </div>
        <div class="col text-center idioma my-auto d-none d-md-block">

            
            <h5 class="d-inline mr-2">CONTACTA CON NOSOTROS</h5>
            

        </div>

        <div class="col-12 col-md text-center idioma pt-4 pt-md-none">

            <div class="row justify-content-center">
                <h5 class="d-inline mr-2">METODOS DE PAGO</h5>
                </div>
                <div class="row justify-content-center pt-2">
                    <img src="../../../assets/Footer/paypal.png" alt="" class="iconos img-fluid pr-4">
                    <img src="../../../assets/Footer/mastercard.png" alt="" class="iconos img-fluid pr-4">
                    <img src="../../../assets/Footer/visa.png" alt="" class="iconos img-fluid">

            </div>
            
            

        </div>
    </div>
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <!--
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    -->
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
