<app-navigation></app-navigation>

<div class="container-fluid fondo">
  <div class="row">
    <div class="col-12 pt-5 text-center">
      <h1 class="h1 pb-4 pb-sm-4">ADMINISTRACIÓN DE USUARIOS Y EMPRESAS</h1>
      <hr class="hr" />
      <button class="btn btn-return">VOLVER</button>
    </div>

  </div>
    <div class="row pb-5 mt-5">
      <div class="col-12 col-md-10 col-xl-5 offset-md-1 offset-xl-1 fondo-blanco text-center">
        <div class="row ">
          <p class="marca-uno w-100 text-center pb-1"></p>
          <div class="col-12">
            <h3 class="h3 pl-4 pb-3 pt-4 pl-5">ADMINISTRACIÓN DE USUARIOS</h3>
            <hr class="hr2" />
          </div>

          <div class="col-10 col-sm-12 pl-sm-5 pr-sm-5 pt-4 pb-4 table-responsive mx-auto">
            <table class="table table-striped ">
              <thead>
                <tr>
   
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Email</th>
                  <th scope="col">Nombre Usuario</th>
                  <th scope="col">Ver Detalle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.username }}</td>
                  <td>
                    <button
                      class="btn btn-station"
                      data-toggle="modal"
                      [attr.data-target]="'#'+ user.username"
                    >
                      Información
                    </button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <ngb-pagination [(page)]="thePageNumber"
              [pageSize] ="thePageSize"
              [collectionSize]= "theTotalElements"
              [maxSize] = 5
              [boundaryLinks]="true"
              (pageChange) = loadUsers()>

      </ngb-pagination>
        </div>
      </div>

      <div class="col-12 col-md-10 col-xl-5 offset-md-1 fondo-blanco ml-xl-5 mt-5 mt-xl-0">
        <div class="row">
          <p class="marca-uno w-100 text-center pb-1"></p>
            <div class="col-12">
                <h3 class="h3 pb-3 pt-4 pl-5">SOLICITUDES DE INGRESO. EMPRESAS.</h3>
                <hr class="hr2" />
            </div>
            <div class="col-10 col-sm-12 pl-sm-5 pr-sm-5 pt-4 pb-4 table-responsive mx-auto">
                <table class="table table-striped text-center ">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Comercial</th>
                        <th scope="col">NIF</th>
                        <th scope="col">CNAE</th>
                        <th scope="col">Actividad</th>
                        <th scope="col">Ver Detalle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="#info-empresa">Información</button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td><button href="#" class="btn btn-station " data-toggle="modal" data-target="info">Información</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-12 ">
                <nav aria-label="empresas" class="">
                    <ul class="pagination justify-content-center">
                      <li class="page-item"><a class="page-link" href="#"><</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">></a></li>
                    </ul>
                  </nav>
            </div>

        </div>

    </div>
    </div>
  
</div>

<div
*ngFor="let user of users" 
class="modal fade"
  id="{{user.username}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div  class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-11">
          <h3 class="h3 pl-4 pb-1 pt-4 pl-5">Usuario {{ user.username }}</h3>
          <hr class="hr3" />
          <h4 class="h4 pl-4 pb-1 pt-4 pl-5">
            Modificación de Datos y Borrado de Usuario
          </h4>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Nombre</label>
            <input
              type="text"
              value="{{ user.firstName }}"
              placeholder="Nombre..."
              name="nombre"
              class="input pt-2"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Apellidos</label>
            <input
              type="text"
              placeholder="Apellidos..."
              name="apellidos"
              value="{{ user.lastName }}"
              class="input pt-2"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Email</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
              value="{{ user.email }}"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Dirección</label>
            <input
              type="text"
              placeholder="Dirección..."
              name="direccion"
              class="input pt-2"
              value="{{ user.address }}"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Nombre Usuario</label>
            <input
              type="text"
              placeholder="Nombre de usuario..."
              name="email"
              class="input pt-2"
              value="{{ user.username }}"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Contraseña</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
              value="{{ user.password }}"
            />
          </div>
          <div class="col-6 text-center pt-3 pb-4">
            <label for="email" class="d-block">Teléfono</label>
            <input
              type="text"
              placeholder="Teléfono..."
              name="telefono"
              class="input pt-2"
              value="{{ user.phone }}"
            />
          </div>

          <div class="col-6 text-center pt-3 pb-4">
            <label for="email" class="d-block">Newsletter</label>
            <select class="mt-2">
              <option>Si</option>
              <option>No</option>
            </select>
          </div>

          <div class="col-12">
            <hr class="hr3" />
          </div>

          <div class="col-6 text-center pt-3 pb-3">
            <button (click)="modifyUser(user.id)" class="btn btn-admin-user pl-3 pr-3">Modificar</button>
          </div>
          <div class="col-6 text-center pt-3 pb-3">
            <button (click)="deleteUser(user.id)" class="btn btn-admin-user pl-3 pr-3">Borrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="info-empresa"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-11">
          <h3 class="h3 pl-4 pb-1 pt-4 pl-5">Empresa nomEmpresa</h3>
          <hr class="hr3" />
          <h4 class="h4 pl-4 pb-1 pt-4 pl-5">
            Solicitud de ingreso. 
          </h4>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Nombre Comercial</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">NIF</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">CNAE</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Actividad</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Localizacion</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
            />
          </div>
          <div class="col-4 text-center pt-3 pb-4">
            <label for="email" class="d-block">Email</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
            />
          </div>
          <div class="col-12 text-center pt-3 pb-4">
            <label for="email" class="d-block">Teléfono</label>
            <input
              type="text"
              placeholder="Email..."
              name="email"
              class="input pt-2"
            />
          </div>


          <div class="col-12">
            <hr class="hr3" />
          </div>

          <div class="col-6 text-center pt-3 pb-3">
            <button class="btn btn-admin-user pl-3 pr-3">Activar</button>
          </div>
          <div class="col-6 text-center pt-3 pb-3">
            <button class="btn btn-admin-user pl-3 pr-3">Borrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
