<app-navigation></app-navigation>

<div @fade class="container-fluid fondo">
  <div class="row">
    <div class="col-3 offset-1 pt-3 text-center">
        <div class="row fondo-blanco pb-2">
            <div class="col-12 padding">
                <h5 class="h5">TOTAL VIAJES</h5>
            </div>
            <div class="col-8 text-left ">
                <p class="p-dos pl-3">VIAJE SIERRA NEVADA</p>
            </div>
            <div class="col-4">
                <p class="p-dos">800 €</p>
            </div>
            <div class="col-8 text-left ">
                <p class="p-dos  pl-3">VIAJE BAQUEIRA-BERET</p>
            </div>
            <div class="col-4">
                <p class="p-dos">800 €</p>
            </div>
            <div class="col-8 text-left">
                <p class="p-dos pl-3">VIAJE VAL-THORENS</p>
            </div>
            <div class="col-4 ">
                <p class="p-dos">800 €</p>
            </div>
            <div class="col-8 text-left">
                <p class="h5">TOTAL</p>
            </div>
            <div class="col-4">
                <p class="h5">2400 €</p>
            </div>
        </div>
    </div>
    <div class="col-4 pt-5 text-center">
        <h1 class="h1 pb-4 pb-sm-4 pt-3">CARRITO</h1>
        <hr class="hr" />
      </div>
      <div class="col-4 pt-5 text-center my-auto">
        <button class="btn boton">FINALIZAR COMPRA</button>
      </div>

    <div class="col-10 offset-1 mb-4">
      <div class="row mb-4 mt-4" id="tabs">
        <p class="viaje mt-4 w-100 text-center pt-1 pb-1">CESTA</p>
        <div class="col-12 mb-4">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                id="nav-home-tab"
                data-toggle="tab"
                href="#nav-home"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
                >SIERRA NEVADA</a
              >
              <a
                class="nav-item nav-link"
                id="nav-profile-tab"
                data-toggle="tab"
                href="#nav-profile"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
                >BAQUEIRA-BERET</a
              >
              <a
                class="nav-item nav-link"
                id="nav-contact-tab"
                data-toggle="tab"
                href="#nav-contact"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false"
                >VAL-THORENS</a
              >
              <a
                class="nav-item nav-link"
                id="nav-about-tab"
                data-toggle="tab"
                href="#nav-about"
                role="tab"
                aria-controls="nav-about"
                aria-selected="false"
                >LA MOLINA</a
              >
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0 mt-3" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <div class="row">
                <div class="col-3">
                  <div class="row">
                    <div class="container">
                      <img
                        src="../../../assets/StationPhoto/sierra-nevada.jpg"
                        alt="Snow"
                        class="img-fluid img"
                      />
                      <div class="centered">SIERRA NEVADA</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center pt-3">
                      <p class="p">11/12/2020 - 15/12/2020</p>
                    </div>
                    <div class="col-12 text-center">
                      <p class="p">2 PERSONAS</p>
                    </div>
                    <div class="col-12 text-center">
                      <button class="btn boton ">AÑADIR VIAJE</button>
                    </div>
                    <div class="col-12 mt-3 text-center">
                        <button class="btn boton">ELIMINAR VIAJE</button>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="row">
                    <div class="col-6">
                      <div class="container">
                        <img
                          src="../../../assets/HotelPhoto/BaqueiraBeret/bb1.jpg"
                          alt="Snow"
                          class="img-fluid img"
                        />
                        <div class="centered">HOTEL</div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="container">
                        <img
                          src="../../../assets/ClassesPhoto/BB4.PNG"
                          alt="Snow"
                          class="img-fluid img"
                        />
                        <div class="centered">CLASES</div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-4">
                    <div class="col-6">
                      <div class="container">
                        <img
                          src="../../../assets/MaterialPhoto/david-becker-F7SBonu15d8-unsplash.jpg"
                          alt="Snow"
                          class="img-fluid img"
                        />
                        <div class="centered">ALQUILER</div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="container">
                        <img
                          src="../../../assets/CarPhoto/SN7.png"
                          alt="Snow"
                          class="img-fluid img"
                        />
                        <div class="centered">COCHE</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-12">
                      <h3 class="h3 pl-4">RESUMEN</h3>
                      <hr class="hr2" />
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline ">HOTEL</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">200 €</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">CLASES</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">200 €</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">EQUIPO</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">200 €</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">VEHÍCULO</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">200 €</p>
                    </div>
                    <div class="col-12 text-center">
                        <hr class="hr2">
                    </div>
                    <div class="col-6 ">
                        <p class="h4 pl-5">TOTAL</p>
                      </div>
                      <div class="col-6 text-center">
                        <p class="d-inline h4">800 €</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
            <div class="row">
                <div class="col-3">
                  <div class="row">
                    <div class="container">
                      <img
                        src="../../../assets/StationPhoto/Baqueira-Beret.jpg"
                        alt="Snow"
                        class="img-fluid img"
                      />
                      <div class="centered">BAQUEIRA-BERET</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center pt-3">
                      <p>11/12/2020 - 15/12/2020</p>
                    </div>
                    <div class="col-12 text-center">
                      <p>2 PERSONAS</p>
                    </div>
                    <div class="col-12 text-center">
                      <button class="btn boton ">AÑADIR VIAJE</button>
                    </div>
                    <div class="col-12 mt-3 text-center">
                        <button class="btn boton">ELIMINAR VIAJE</button>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="row">
                    <div class="col-6">
                      <div class="container">
                        <img
                          src="../../../assets/HotelPhoto/BaqueiraBeret/bb1.jpg"
                          alt="Snow"
                          class="img-fluid img"
                        />
                        <div class="centered">HOTEL</div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="container">
                        <img
                          src="../../../assets/ClassesPhoto/BB4.PNG"
                          alt="Snow"
                          class="img-fluid img"
                        />
                        <div class="centered">CLASES</div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-4">
                    <div class="col-6">
                      <div class="container">
                        <img
                          src="../../../assets/MaterialPhoto/david-becker-F7SBonu15d8-unsplash.jpg"
                          alt="Snow"
                          class="img-fluid img"
                        />
                        <div class="centered">ALQUILER</div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="container">
                        <img
                          src="../../../assets/CarPhoto/SN7.png"
                          alt="Snow"
                          class="img-fluid img"
                        />
                        <div class="centered">COCHE</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-12">
                      <h3 class="h3 pl-4">RESUMEN</h3>
                      <hr class="hr2" />
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline ">HOTEL</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">200 €</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">CLASES</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">200 €</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">EQUIPO</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">200 €</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">VEHÍCULO</p>
                    </div>
                    <div class="col-6 text-center pt-3 pb-3">
                      <p class="d-inline">200 €</p>
                    </div>
                    <div class="col-12 text-center">
                        <hr class="hr2">
                    </div>
                    <div class="col-6 ">
                        <p class="h4 pl-5">TOTAL</p>
                      </div>
                      <div class="col-6 text-center">
                        <p class="d-inline h4">800 €</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
            >
              Et et consectetur ipsum labore excepteur est proident excepteur ad
              velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt
              anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
              Velit non irure adipisicing aliqua ullamco irure incididunt irure
              non esse consectetur nostrud minim non minim occaecat. Amet duis
              do nisi duis veniam non est eiusmod tempor incididunt tempor dolor
              ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non
              adipisicing reprehenderit do dolore. Duis reprehenderit occaecat
              anim ullamco ad duis occaecat ex.
            </div>
            <div
              class="tab-pane fade"
              id="nav-about"
              role="tabpanel"
              aria-labelledby="nav-about-tab"
            >
              Et et consectetur ipsum labore excepteur est proident excepteur ad
              velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt
              anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
              Velit non irure adipisicing aliqua ullamco irure incididunt irure
              non esse consectetur nostrud minim non minim occaecat. Amet duis
              do nisi duis veniam non est eiusmod tempor incididunt tempor dolor
              ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non
              adipisicing reprehenderit do dolore. Duis reprehenderit occaecat
              anim ullamco ad duis occaecat ex.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
