.border-bottom {
    border-bottom: 1px solid rgba(27, 77, 176, 1)!important
}

nav{
    z-index: 999 !important;
}
.img-user{
    height: 2rem;
}

.img-cart {
    height: 2rem;
}

.mat-icon {
    width: auto !important;
}
.mat-badge-content {
    background-color: white;
    border: 1px solid rgba(27, 77, 176, 1);
    color: rgba(27, 77, 176, 1);
}

.title {
    color: rgba(27, 77, 176, 1) !important;
    font-weight: 750;
    font-size: 25px;
    letter-spacing: 0.4rem;
    transition: 0.2s;
}

.title:hover {
    color: rgba(27, 77, 176, 0.753) !important;
}

.snowydunetrip {
    color: rgba(27, 77, 176, 1);
    font-weight: 750;
    font-size: 20px;
    letter-spacing: 0.3rem;
}
.img-snowy {
    height: 5.8rem;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-17%);
    z-index: 1000;
}

.menu {
    color: #3C7DEC !important;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: #3C7DEC !important;
}

.cursor {
    cursor: pointer;
}

.circulo {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(27, 77, 176, 1);
    background-color: white;
    color: white;
    font-size: 8pt;
    text-align: center;
    line-height: 20px;
    right: 7.1%;
    top: -15%;
    z-index: 50;
}

@media screen and (min-width: 991px) and (max-width: 1366px) {
    
    .img-snowy {
        height: 4.7rem;
    
        transform: translate(-50%,-10%);
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {

    .img-snowy {
        height: 4.5rem;
    
        transform: translate(-50%,-8%);
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .img-user{
        height: 1.35rem;
    }
    .mat-badge-medium .mat-badge-content{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .img-cart {
        height: 1.35rem;
    }
    .img-snowy {
        height: 4.5rem;
    
        transform: translate(-50%,-8%);
    }

}

@media screen and (max-width: 575px) {
   
   .title {
    font-size: 15px;
    letter-spacing: 0.2rem;
   }

   .img-user{
    height: 1.35rem;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -7px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content{
    right: -6px;
}

.mat-badge-content {
    font-size: 11px;
}

.mat-badge-medium .mat-badge-content{
    width: 18px;
    height: 18px;
    line-height: 20px;
}

.img-cart {
    height: 1.35rem;
}

.img-snowy {
    height: 1.7rem;
    position: relative;
    left: 0;
    top:0;
    z-index: 1000;
}

}