<app-navigation></app-navigation>

<div  @fade class="container-fluid fondo">
    <div class="row">
        <div class="col-12 mt-4 mt-sm-5">
            <div class="row">
  
                <div class="col-12 pt-3 pb-4 text-center ">
            
                  <h1 class="h1 pb-4 pb-sm-4">HOTEL</h1>
                  <hr class="hr" />
                </div>
                
              </div>

              <div class="row ">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-md-6 col-xl-2 my-auto">
                      <h3 class="h4 text-center">Filtros</h3>
                      
                    </div>
                    <div class="col-12 col-md-6 col-xl-2 pt-3">
                      <h3 class="h4 text-center">Búsqueda</h3>
                  <input
                      class="form-control search mx-auto"
                      type="text"
                      name="search"
                      [(ngModel)]="searchText"
                      autocomplete="off"
                      placeholder="Busca un hotel..."
                    />
                  </div>
                <div class="col-12 col-md-6 offset-xl-1 col-xl-2">
                  <div class="form-group">
                    <h3 class="h4 text-center pt-3">Estrellas</h3>
                    <select (change)="updateHotelStarsSelect($event.target.value)" class="form-control mx-auto">
                    <option selected="true" value="">Seleciona el nº de Estrellas...</option>
                      <option>5</option>
                      <option>4</option>
                      <option>3</option>
                      <option>2</option>
                      <option>1</option>
                    </select>
                  </div>
                  </div>

                  <div class="col-12 col-md-6 offset-xl-1 col-xl-2 pt-md-3">
                    <div class="form-group">
                      <h3 class="h4 text-center">Precio</h3>
                      <select (change)="updateHotelPriceSelect($event.target.value)" class="form-control mx-auto">
                      <option selected="true" value="0">Rango de precios...</option>
                        <option value="1">Menos de 30 €</option>
                        <option value="2">31 - 60 €</option>
                        <option value="3">61 - 100 €</option>
                        <option value="4">101 - 200 €</option>
                        <option value="5">+ 201 €</option>
                      </select>
                    </div>
                    </div>
                </div>
              </div>
              </div>
              
              <div class="row pb-3 pt-4 align-content-center">
                <div  *ngFor="let hotel of hotels | filter: searchText" class="col-12 col-sm-6 col-md col-lg-3 mb-5">
                  <div class="card mx-auto">
                    <div class="img-color purple-gradient">
                      <img
                        class="card-img-top"
                        src="{{ hotel.urlImages }}"
                        alt="Card image cap"
                      />
                    </div>
                    <div class="card-body mx-auto">
                      <h5 class="card-title text-center">{{ hotel.name }}</h5>
                      <p class="card-text text-center">
                        {{ hotel.location }}, {{ hotel.country }}
                      </p>
                      <p class="card-text text-center">
                        <strong>Precio</strong> - {{ hotel.priceDay }} €/noche
                      </p>
                      <div class="row mx-auto">
                        <div class="col text-center pb-3 pl-0 pr-0" *ngFor="let star of array(hotel.stars); let i = indez">
                          <fa-icon [icon]="faStar"></fa-icon>
                        </div>
                        
                             
                      </div>
                      <div class="row">
                        <div class="col-12 col-xl-6 text-center">
                          <button mat-raised-button
                          color="primary"
                            id="btnReturn"
                            data-toggle="modal"
                            [attr.data-target]="'#'+ hotel.id"
                            (click) = "loadComments(hotel.id)"
                          >
                          DETALLES
                          </button>
                        </div>
                          <div class="col-12 col-xl-6 mt-3 mt-xl-0 text-center">
                            <button mat-raised-button
                          color="primary"
                            id="btnReturn"
                            data-toggle="modal"
                            class="ml-xl-3"
                            (click) = "validateInfo(hotel.name,hotel.id)"
                          >
                          ELEGIR
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="row">
                 
                  <div class="d-none d-sm-block col-sm  text-center">
                    <button mat-raised-button
                    color="primary"
                      id="btnReturn"
                      data-toggle="modal"
                      (click) = "backToStation()"
                    >
                      VOLVER
                    </button>
                  </div>
              
                  <div class="col-12 col-sm  d-flex justify-content-center mb-3">
                    <ngb-pagination [(page)]="thePageNumber"
                    [pageSize] ="thePageSize"
                    [collectionSize]= "theTotalElements"
                    [maxSize] = 5
                    [boundaryLinks]="true"
                    (pageChange) = loadHotel()>
              
                    </ngb-pagination>
                  </div>

                  <div class="d-sm-none col-12 mb-4 text-center">
                    <button mat-raised-button
                    color="primary"
                      id="btnReturn"
                      data-toggle="modal"
                      (click) = "backToStation()"
                    >
                      VOLVER
                    </button>
                  </div>

                  <div class="col-12 col-sm mb-4 mb-sm-0 text-center">
                    <button mat-raised-button
                    color="primary"
                      id="btnReturn"
                      data-toggle="modal"
                      (click) = "continueToClasses()"
                    >
                      CONTINUAR
                    </button>
                </div>
              </div>



        </div>
    </div>
</div>

<div *ngFor="let hotel of hotels" class="modal fade" id="{{hotel.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="{{hotel.urlImages}}" alt="" class="img-fluid imagen-modal">
          <h5 class="modal-title" id="exampleModalLongTitle">{{hotel.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row h-auto">
          <div class="col-12 col-md-7 pt-2 text-justify">
            <div class="col d-md-none">
              
              <h2 class="h2 text-center pt-3">DESCRIPCIÓN</h2>
              <hr class="hr2">
            </div>
            <p class="pt-3">{{hotel.description}}</p>
             <br>
             <p><strong>- Precio por día:</strong> {{hotel.priceDay}} €</p> 
             <p><strong>- Número de Estrellas:</strong> {{hotel.stars}}</p>
             <p><strong>- Contacto:</strong> {{hotel.email}} | {{hotel.phone}}</p> 
          </div>
          <div class="col-12 col-md-5 comentarios my-auto text-center">
            
            <h2 class="h2 pt-3">Últimos Comentarios</h2>
            <hr class="hr2">
            <div *ngFor="let comment of comments; let i = index">
              <span class="persona">{{ user[i] }} - {{ comment.date }}</span>
              <p class="text-center mx-auto py-2">{{comment.comment}}</p>
            </div>
            
          </div>
        </div>
        </div>
        <div class="modal-footer d-none d-md-block">
          <div class="col">
            <hr class="hr2">
            <h2 class="h2">DESCRIPCIÓN</h2>
          </div>
          <div class="col text-center ">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  